{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<script src="{% static '/js/bootstrap.min.js' %}"></script>
    <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>
<div class = "container-fluid">
		<h3>Enter new password</h3>

		<p>Please enter your new password twice so we can verify you typed it in correctly.</p>

		<form method="post">

			{% csrf_token %}
			{{form}}
			<input type="Submit" name="Update Password">
			
		</form>
</div>
</body>
</html>
