body{
    background-color: #f0f0f0!important;
}


.navbar{
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    background: rgba(255,255,255,0.6)!important;
}

.navbar-nav{
align-self: end;
}

.nav-brand img{
    height: 2rem;
}

.nav-item{
font-size: 100%;
}

.nav-link{
color: #FF8C00;
}

.navbar .active{
border-bottom: 5px solid #FF8C00;

}
.nav-link:hover{

    border-bottom: 5px solid #FF8C00;
padding-right: 1em;

}

#carouselExampleIndicators{
    margin-top: 70px;
}

.carousel-caption{
   
    text-transform: uppercase;
    font-size: 1.1rem;
}
.btn-lg{
    border-width: medium;
    border-radius: 1;
}


#carouselExampleIndicators a:hover{
    color: #000000;
}

#job{
margin:3px;
align-content: center;
}

section{
font-family: 'Raleway',sans-serif;
font-size: 14px;
font-weight: 400;
color: #777;
}

section h1{
font-size: 36px;
color: #555;
font-weight:bold;

}

section h3{
font-size: 24px;
color: #333;
font-weight: bold;
}
.stream{
margin-top: 30px;
}

.stream img{
margin-top: 0px;
}

.stream p{
font-weight: 500;
}

.stream .card{
border-radius: 10px;
box-shadow: 5px 5px 15px #fcca8d;
transition: all 0.3s ease-in;
-webkit-transition: all 0.3s ease-in;
-moz-transition: all 0.3s ease-in;
margin-bottom: 50px!important;
margin: 10px;

}

.stream .card:hover{
background: #FF8C00;
color: #fff;
border-radius: 5px;
border: none;
box-shadow: 5px 5px 10px #9E9E9E;

}

.stream .card:hover h3, #stream .card:hover i{
color: #fff;

}
#team{
margin-top: 30px;
}

#team img{
margin-top: 0px;
}

#team p{
font-weight: 500;
}

#team .card{
border-radius: 0;
box-shadow: 5px 5px 15px #FF8C00;
transition: all 0.3s ease-in;
-webkit-transition: all 0.3s ease-in;
-moz-transition: all 0.3s ease-in;
margin-bottom: 50px;
margin: 10px;

}

#team .card:hover{
background: #FF8C00;
color: #fff;
border-radius: 5px;
border: none;
box-shadow: 5px 5px 10px #9E9E9E;

}

#team .card:hover h3, #stream .card:hover i{
color: #fff;

}

#team .card img{
    margin-top: -50px;
}

#road{            margin: 0 auto;
            height: auto;
            max-width: 100%;
            border: none;
            display: block;
            padding: 5px 0;
    
}

/*
#blogs{
    background: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
    }

    .swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    }

    .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    background: #000;
    -webkit-box-reflect: below 1px linear-gradient(transparent,transparent,#0006);

    }

#contact{
    background-color: #191919
}

#contact>div>div{
    margin-top: 100px;
    padding: 75px;
}

#contact img{
    margin-left: -10px;
    margin-bottom: 10px;

}
#contact a{
    margin-right: 10px;
    color: #ffffff;
    font-size: 120%;
    text-decoration: none;
}

#contact a:hover{
    color: #FF8C00;
}
#social{
    margin-left: -30px;
    margin-top: 5px;
}


#blogs {
    background: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }

  .swiper-container {
      width: 400px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;

  }
  .swiper-button-prev{
      padding-right: 0px;
  }

*/
.style-1 del {
    color: rgba(255, 0, 0, 0.5);
    text-decoration: none;
    position: relative;
  }
  .style-1 del:before {
    content: " ";
    display: block;
    width: 100%;
    border-top: 2px solid rgba(255, 0, 0, 0.8);
    height: 12px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: rotate(-7deg);
  }
  .style-3 ins {
    font-size: 16px;
    font-weight: 800;
    color: rgb(10, 177, 10);
    text-decoration: none;
    padding: 1em 1em 1em 0.5em;
  }
  


#blogs {
    background-color  : #f0f0f0!important;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }

  .swiper-container {
    padding: 20px;
    width: 100%;
    height: 100%;
    background-color  : #f0f0f0!important;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background-color  : #f0f0f0!important;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
#contact a{
    margin-right: 10px;
    color: #ffffff;
    font-size: 120%;
    text-decoration: none;
}

input[type=image]{
    width: 300px;
}

.swiper-container2 {
    width: 100%;
    height: 100%;
  }

  .swiper-slide2 {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

#footab{
    font-size: 120%;
    padding-top: 7%;
    padding-left:17% ;
    width: 50%;
}

#footform h3{
    padding-right: 50%;
}

#contact h3{
    color: #ffffff;
}
#contact span{
    color: #FF8C00;
}

#footform{
    float: left;
    width: 50%;
}
#contact a:hover{
    color: #FF8C00;
}
#contact .form{
    
    background-color: #191919;
    box-shadow: 1px 0 10px 15px rgba(0,0,0,.5);
    padding: 20px;
    margin-top: 40px;
}
#contact .form-control {
    outline: none;
    margin: 0 auto;
    border-radius: 4px !important;
    }

#contact .form-group{
    margin-top: 20px;
    }
#contact ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    }
#contact li{
    padding-top: 15px;
    color: #84817a;
    font-size: 18px;
    }
#contact h3{
    color: #84817a;
    font-size: 36px;
    }
#contact.fa{
    padding-right: 10px;
    color: #718093;
    font-size: 22px;
    }

#social{
    margin-left: -30px;
    margin-top: 5px;
}
#contact button{
    background-color: #FF8C00 !important;
    color: #fff !important;
    padding: 5px 20px !important;
    border-radius: 4px !important;
}
#contact button:hover{
background-color: #da611c !important;
}
@media(max-width: 600px){
    .navbar{
        text-transform: uppercase;
        font-weight: 700;
        font-size: .9rem;
        background: rgba(255,255,255,1)!important;
    }
#footab{
    display: none;
}
#footform{
    width: 100%;
}
}


/* Course Page*/

.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }

#cc-0{
    margin: 30px;
    margin-top: 130px;
}

#toopp{
    clear: both;
}

#co-img{
    width: 35%;
    float: left;
    border: 2px solid #FF8C00;
}
#co-hh{
    font-size: 30px;
}

#co-h{
    margin-left: 20px;
    width: 60%;
    float: left;
    font-family: 'Noto Serif', serif;
    
}

.fa-ul{
    font-size: 20px;
    margin-top: 15px;
    color: #000000;
}

.fa-ul li{
    margin-bottom: 8px;
}

.fa-li{
    color: #FF8C00;
}
@media(max-width: 600px){
    
    #cc-0{
        margin: 0px;
    }
    #co-img{
        width: 100%;
        margin-left: 0px;
        margin-top: 100px;
        margin-bottom: 20px;
    }
    #co-h{
        width: 100%;
        margin-left: 0px;
    }
    .fa-ul{
        font-size: 15px;
        margin-top: 15px;
        color: #000000;
    }
    
    .fa-li{
        color: #FF8C00;
    }
}

#tabbed-pane{
    margin:30px;
}


#tabbed-pane nav > .nav.nav-tabs{

    border: none;
      color:#fff;
      background:#272e38;
      border-radius:0;
  
  }
  #tabbed-pane  nav > div a.nav-item.nav-link,
  #tabbed-pane nav > div a.nav-item.nav-link.active
  {
    border: none;
      padding: 18px 25px;
      color:#fff;
      background:#272e38;
      border-radius:0;
  }
  
  #tabbed-pane nav > div a.nav-item.nav-link.active:after
   {
    content: "";
    position: relative;
    bottom: -60px;
    left: -10%;
    border: 15px solid transparent;
    border-top-color: #FF8C00 ;
  }
  #tabbed-pane .tab-content{
    background: #fdfdfd;
      line-height: 25px;
      border: 1px solid #ddd;
      border-top:5px solid #FF8C00;
      border-bottom:5px solid #FF8C00;
      padding:30px 25px;
  }
  
  #tabbed-pane nav > div a.nav-item.nav-link:hover,
  #tabbed-pane nav > div a.nav-item.nav-link:focus
  {
    border: none;
      background: #FF8C00;
      color:#fff;
      border-radius:0;
      transition:background 0.20s linear;
  }

  #purchase{
    background: #FF8C00;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  #top-course p{
     margin: 5px;    
  }

  .tab-pane{
      margin-left: 20px;
  }


/*Profile Page*/

#pp-0{
    margin-left: 20%;
    margin-top: 130px;
}

#toopp{
    clear: both;
}

#pro-img{
    width: 15%;
    float: left;
    margin-left: 20px;
    margin-right: 30px;
}
#pro-hh{
    font-size: 30px;
}

#pro-h{
    margin-left: 20px;
    width: 60%;
    float: left;
    font-family: 'Noto Serif', serif;
    
}

.p-para{
    font-size: 20px;
}

#edit-profile{
    float: right;
    font-size: small;
    background-color: #FF8C00
}

#p-questions{
    margin-top: 100px;
}

.card-title{
    font-weight: 700;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    
}
.p-card{
    margin-bottom: 20px;
}

.edit{
    float: right;
}


@media(max-width: 600px){
    
    #pp-0{
        margin-top: 110px;
        margin-left: 0px;

    }
    #pro-img{
        width: 100%;
        margin-left: 0px;
        margin-top: 100px;
        margin-bottom: 20px;
    }
    #pro-h{
        width: 100%;
        margin-left: 0px;
    }
    .p-para{
        font-size: 15px;
    }
    #edit-profile{
        font-size: 10px;
    }

}

