body{
    background-color: #f0f0f0!important;
}

#heading{
    background-color: #f0b467;
    margin-bottom: 50px;
}
#introd{
    font-size: 27px;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    padding: 30px;
}

#mission{
    margin-top: 40px;
    margin-bottom: 35px;
}
#vision{
    margin-top: 30px;
    margin-bottom: 30px;
}

#mission h3{
    font-size: 350%;
    font-family: 'Rowdies',cursive;
}
#vision h3{
    font-size: 350%;
    font-family: 'Rowdies',cursive;
}

#mission p{
    font-size: 150%;
    font-family: 'Poppins', sans-serif;
}
#vision p{
    font-size: 150%;
    font-family: 'Poppins', sans-serif;
}


#mission li{
    margin: 6px;
    font-size: 130%;
}

#mission li span{
    font-family: 'Merriweather', serif;
    font-size: 120%;
}

#mission ul {
    list-style-type: square;
  }



@media(max-width:860px){
    #introd{
        font-size: 18px;
    }
}

#team .card img{
    margin-top: -50px;
    width: 175px;
}