section.signup_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media (min-width: 840px) {
  section.signup_section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (min-width: 640px) and (max-width: 840px) {
  section.signup_section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

section.signup_section div.container {
  margin-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 840px) {
  section.signup_section div.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

section.signup_section div.container div.signup_img {
  margin: 0 40px;
}

section.signup_section div.container div.signup_img img {
  width: 250px;
  height: auto;
  display: none;
}

@media (min-width: 840px) {
  section.signup_section div.container div.signup_img img {
    display: block;
    width: 500px;
  }
}

@media (min-width: 840px) {
  section.signup_section div.container div.signup_img {
    margin: 40px;
  }
}

section.signup_section div.container section.signup_form {
  padding: 0 40px;
}

section.signup_section div.container section.signup_form div.signup_txt {
  text-align: center;
}

section.signup_section div.container section.signup_form div.signup_txt div.form_txt {
  font-size: 24px;
  font-weight: 600;
}

@media (min-width: 840px) {
  section.signup_section div.container section.signup_form div.signup_txt div.form_txt {
    font-size: 36px;
  }
}

@media (min-width: 640px) and (max-width: 840px) {
  section.signup_section div.container section.signup_form div.signup_txt div.form_txt {
    font-size: 36px;
  }
}

section.signup_section div.container section.signup_form div.signup_txt div.form_subtxt {
  font-size: 14px;
}

@media (min-width: 840px) {
  section.signup_section div.container section.signup_form div.signup_txt div.form_subtxt {
    font-size: 20px;
  }
}

@media (min-width: 640px) and (max-width: 840px) {
  section.signup_section div.container section.signup_form div.signup_txt div.form_subtxt {
    font-size: 20px;
  }
}

section.signup_section div.container section.signup_form div.form {
  padding: 20px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.signup_section div.container section.signup_form div.form form.form_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

section.signup_section div.container section.signup_form div.form form.form_container div.name,
section.signup_section div.container section.signup_form div.form form.form_container div.email,
section.signup_section div.container section.signup_form div.form form.form_container div.dob,
section.signup_section div.container section.signup_form div.form form.form_container div.password,
section.signup_section div.container section.signup_form div.form form.form_container div.re_password {
  background-color: rgba(223, 228, 234, 0.5);
  padding: 10px;
  width: 100%;
  -webkit-transition: .5s;
  transition: .5s;
}

section.signup_section div.container section.signup_form div.form form.form_container div.name i,
section.signup_section div.container section.signup_form div.form form.form_container div.email i,
section.signup_section div.container section.signup_form div.form form.form_container div.dob i,
section.signup_section div.container section.signup_form div.form form.form_container div.password i,
section.signup_section div.container section.signup_form div.form form.form_container div.re_password i {
  padding: 5px;
  -webkit-transition: .5s;
  transition: .5s;
}

section.signup_section div.container section.signup_form div.form form.form_container div.name input,
section.signup_section div.container section.signup_form div.form form.form_container div.email input,
section.signup_section div.container section.signup_form div.form form.form_container div.dob input,
section.signup_section div.container section.signup_form div.form form.form_container div.password input,
section.signup_section div.container section.signup_form div.form form.form_container div.re_password input {
  background: transparent;
  border: none;
  width: 80%;
  padding: 10px;
  border-bottom: 2px solid #98eaba;
  -webkit-transition: .5s;
  transition: .5s;
}

section.signup_section div.container section.signup_form div.form form.form_container div.name {
  border-radius: 10px 10px 0 0;
}

section.signup_section div.container section.signup_form div.form form.form_container div.re_password {
  border-radius: 0 0 10px 10px;
}

section.signup_section div.container section.signup_form div.form form.form_container div.name:hover,
section.signup_section div.container section.signup_form div.form form.form_container div.email:hover,
section.signup_section div.container section.signup_form div.form form.form_container div.dob:hover,
section.signup_section div.container section.signup_form div.form form.form_container div.password:hover,
section.signup_section div.container section.signup_form div.form form.form_container div.re_password:hover {
  background-color: rgba(223, 228, 234, 0.253);
  -webkit-transition: .5s;
  transition: .5s;
}

section.signup_section div.container section.signup_form div.form form.form_container div.name:hover i,
section.signup_section div.container section.signup_form div.form form.form_container div.email:hover i,
section.signup_section div.container section.signup_form div.form form.form_container div.dob:hover i,
section.signup_section div.container section.signup_form div.form form.form_container div.password:hover i,
section.signup_section div.container section.signup_form div.form form.form_container div.re_password:hover i {
  color: #2ed573;
}

section.signup_section div.container section.signup_form div.form form.form_container div.name:hover input,
section.signup_section div.container section.signup_form div.form form.form_container div.email:hover input,
section.signup_section div.container section.signup_form div.form form.form_container div.dob:hover input,
section.signup_section div.container section.signup_form div.form form.form_container div.password:hover input,
section.signup_section div.container section.signup_form div.form form.form_container div.re_password:hover input {
  border-bottom: 2px solid #2ed573;
  -webkit-transition: .5s;
  transition: .5s;
}

section.signup_section div.container section.signup_form div.form form.form_container button.submit_btn {
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: 600;
  border: 2px solid #2ed573;
  background-color: #2ed573;
  border-radius: 5px;
  padding: 10px 20px;
  -webkit-transition: .5s;
  transition: .5s;
}

section.signup_section div.container section.signup_form div.form form.form_container button.submit_btn:hover {
  background-color: transparent;
  -webkit-transition: .5s;
  transition: .5s;
}

section.signup_section div.container section.signup_form div.form form.form_container div.login {
  padding: 10px;
  font-size: 14px;
  text-align: center;
}

section.signup_section div.container section.signup_form div.form form.form_container div.login a {
  text-decoration: none;
  color: #3c40c6;
}

section.signup_section div.container section.signup_form div.form form.form_container div.login a:hover {
  color: #3c40c6;
  font-weight: 600;
}
/*# sourceMappingURL=signup.css.map */